<footer class="footer">
    <div class="contacto">
        <ul>
            <li><a href="#">CONDICIONES</a></li>
            <li><a href="#">TRABAJA CON NOSOTROS</a></li>
            <li><a href="#">MEDIOS DE PAGO</a></li>
            <li><a href="#">PREGUNTAS FRECUENTES</a></li>
        </ul>
        <button>BOTÓN DE ARREPENTIMIENTO</button>
        <div class="pierce-container">
            <p class="pierce">Powered by Pierce commerce</p>
            <img src="./assets/img/pierce.jpg">
            <img src="./assets/img/vtex.png">
        </div>
    </div>
</footer>