<footer class="footer">
    <div class="info">
        <ul>
            <li><a href="#">CONDICIONES</a></li>
            <li><a href="#">TRABAJA CON NOSOTROS</a></li>
            <li><a href="#">MEDIOS DE PAGO</a></li>
            <li><a href="#">PREGUNTAS FRECUENTES</a></li>
        </ul>
        <button>BOTÓN DE ARREPENTIMIENTO</button>
        <div class="pierce-container">
            <p class="pierce">Powered by Pierce commerce</p>
            <img src="./assets/img/pierce.jpg">
            <img src="./assets/img/vtex.png">
        </div>
    </div>
    <div class="tienda">
        <h1>Mi Tienda</h1>
    </div>
    <div class="contacto-container">
        <div class="sucursales">
            <i class="fas fa-location-dot"></i>
            <h4>SUCURSALES</h4>
        </div>
        <div class="contacto">
            <p>Whatsapp 2215137270</p>
            <p>ecommercemateu.com.ar</p>
            <p>La Plata 1900, Buenos Aires, Argentina</p>
        </div>
    </div>
</footer>