#container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  #shopName {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    color: #0F1E7B;
  }
  
  #search {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  #search input[type="text"] {
    width: 515px;
    padding: 8px;
    padding-right: 30px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  #search i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #5E5E5E;
  }
  
  #user {
    display: flex;
    align-items: center;
  }
  
  #user a {
    color: #5E5E5E;
    text-decoration: none;
    margin-left: 20px;
  }
  
  #user a:hover {
    color: #DC1E0F;
  }

  @media (max-width: 768px) {
    #container {
        flex-direction: column; /* Stack elements vertically on small screens */
        text-align: center; /* Center text when stacked */
    }

    #search {
        margin: 10px 0; /* Adjust margin for smaller spacing */
    }
}