.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
  }
  
  .navbar-brand {
    font-size: 1.5rem; /* Brand font size */
    text-decoration: none; /* Remove underline */
  }
  
  .navbar-nav {
    list-style-type: none; /* Remove bullet points */
    display: flex;
    align-items: center;
  }
  
  .navbar-nav li {
    margin-right: 20px; /* Adjust spacing between nav items */
  }
  
  .navbar-nav li:last-child {
    margin-right: 0; /* Remove margin from last nav item */
  }
  
  .navbar-nav a {
    color: #5E5E5E; /* Navbar link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s; /* Smooth color transition on hover */
  }
  
  .navbar .ofertas {
    color: #DC1E0F;
    font-weight: bold;
  }
  
  .navbar-nav a:hover {
    color: #DC1E0F; /* Hover color */
  }

  .navbar .ofertas:hover{
    color: #0F1E7B;
  }

  .navbar-toggler {
    display: none; /* Hide toggle button by default */
}

/* Media query for small screens */
@media (max-width: 768px) {
  .navbar-nav {
      display: none; /* Hide nav items on small screens */
      flex-direction: column;
      padding-top: 10px; /* Add padding between items */
  }

  .navbar-toggler {
      display: block; /* Display toggle button on small screens */
      background: none;
      border: none;
      cursor: pointer;
      color: inherit;
      font-size: 24px;
  }

  .navbar-toggler:focus {
      outline: none;
  }

  .navbar-toggler-icon {
      display: block;
  }
}
  