<nav class="navbar">
    <a href="#" class="navbar-brand"></a>
    <button class="navbar-toggler" aria-label="Toggle navigation" (click)="toggleNav()">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>
    <ul class="sidebar">
      <button class="navbar-toggler" aria-label="Toggle navigation" (click)="closeNav()">
        <span class="navbar-toggler-icon"><i class="fas fa-x"></i></span>
      </button>
      <li><a href="#">Muebles</a></li>
      <li><a href="#">Calzado</a></li>
      <li><a href="#">Colchones</a></li>
      <li><a href="#">Herramientas</a></li>
      <li><a class="ofertasSB" href="#">Ofertas <i class="fa-solid fa-fire"></i></a></li>
    </ul>
    <ul class="navbar-nav">
      <li><a href="#">Muebles</a></li>
      <li><a href="#">Calzado</a></li>
      <li><a href="#">Colchones</a></li>
      <li><a href="#">Herramientas</a></li>
      <li><a class="ofertas" href="#">Ofertas <i class="fa-solid fa-fire"></i></a></li>
    </ul>
  </nav>