.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .navbar-nav li {
    margin-right: 20px;
  }
  
  .navbar-nav li:last-child {
    margin-right: 0;
  }
  
  .navbar-nav a {
    color: #5E5E5E;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .navbar .ofertas {
    color: #DC1E0F;
    font-weight: bold;
  }
  
  .navbar-nav a:hover {
    color: #DC1E0F;
  }

  .navbar .ofertas:hover{
    color: #0F1E7B;
  }

  .navbar-toggler {
    display: none;
}

@media (max-width: 768px) {
  .navbar-nav {
      display: none;
      flex-direction: column;
      padding-top: 10px;
  }

  .navbar-toggler {
      display: block;
      background: none;
      border: none;
      cursor: pointer;
      color: inherit;
      font-size: 24px;
  }

  .navbar-toggler:focus {
      outline: none;
  }

  .navbar-toggler-icon {
      display: block;
  }
}
  