<div class="container">
    <div class="box">
        <i class="fas fa-bag-shopping fa-4x"></i>
        <h3>ELEGÍ LOS PRODUCTOS QUE VAS A COMPRAR</h3>
        <p>Si querés más de uno, sumalos a tu carrito.</p>
    </div>
    <div class="box">
        <i class="fas fa-wallet fa-4x"></i>
        <h3>PAGÁ CON EL MEDIO DE PAGO QUE QUIERAS</h3>
        <p>Comprá con seguridad: usamos la tecnología de Mercado Pago.</p>
    </div>
    <div class="box">
        <i class="fas fa-truck fa-4x"></i>
        <h3>RECIBÍ EL PRODUCTO QUE ESPERÁS</h3>
        <p>Elegí la forma de entrega que prefieras ¡y listo! Aseguramos tu entrega con Mercado Envíos.</p>
    </div>
</div>